# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg

# Output/input folders
output/
input/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
